<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abc.myapplication">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeDrawerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SecondActivity" />
        <activity android:name=".activity.FragmentLuncherActivity" />

        <service
            android:name="service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="service.MessageServiceDemo"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.InbinderServiceActivity" />
        <activity android:name=".activity.MessageServiceActivity" />
        <activity android:name=".activity.BootomShitActivity" />
        <activity android:name=".activity.ConstraintLayoutActivity" />
        <activity android:name=".activity.SQLDemoActivity" />
        <activity android:name=".activity.GenericDemoActivity" />
        <activity android:name=".activity.RxJavaDemoActivity" />
        <activity android:name=".activity.RealmBookListActivity" />
        <activity android:name=".activity.RealemLibraryList" />
        <activity android:name=".activity.AddLibraryDetailActivity" />
        <activity android:name=".activity.AddBookDetail"></activity>
    </application>

</manifest>